<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/poeta.jpg" width="30" height="30" alt=""> Poetas
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link mt-1" [routerLink]="['/home']">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link mt-1" [routerLink]="['/favorites']">Favoritos</a>
            </li>
            <li *ngIf="existeSession(); then thenTemplate; else elseTemplate" class="nav-item">

            </li>

            <ng-template #thenTemplate>
                <a class="nav-link mt-1 text-danger cursor-pointer" (click)="cerrarSession()">Cerrar sesión</a>
            </ng-template>

            <ng-template #elseTemplate>
                <a class="nav-link mt-1 text-success" [routerLink]="['/login']">Iniciar sesión</a>
            </ng-template>
        </ul>
    </div>
</nav>