<app-loading class="m-5" *ngIf="loading"></app-loading>
<a class="btn btn-dark mb-3" [routerLink]="['/'+ urlRetorno]">Regresar</a>

<div class="mb-4">
    <h3>Obras de: {{ nameAuthor }}</h3>
</div>


<div id="accordion">

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Obras favoritas ★
          </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">



                <div *ngIf="!loading" class="carts-obra">
                    <div *ngFor="let obra of obrasFavoritas; let i = index;" class="card cart-obra shadow mb-3">

                        <div class="card-body">

                            <h5 class="card-title ">{{ obra }}</h5>

                            <div class="favorito" *ngIf="existeSession()">

                                <input [checked]="isFavoriteObra(obra)" #control (click)="changeFavoriteObra( obra, control)" id="obra-{{ obra }}" type="checkbox">
                                <label for="obra-{{ obra }}">★</label>

                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Obras no favoritas
          </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">



                <div *ngIf="!loading" class="carts-obra">
                    <div *ngFor="let obra of obras; let i = index;" class="card cart-obra shadow mb-3">

                        <div class="card-body">

                            <h5 class="card-title ">{{ obra }}</h5>

                            <div class="favorito" *ngIf="existeSession()">

                                <input [checked]="isFavoriteObra(obra)" #control (click)="changeFavoriteObra( obra, control)" id="obra-{{ obra }}" type="checkbox">
                                <label for="obra-{{ obra }}">★</label>

                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>