<div>
    <h4>
        Sumario de favoritos
    </h4>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total favoritos:
            <h4>
                <span class="badge badge-primary badge-pill">{{ totalFavoritos }}</span>
            </h4>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total poetas favoritos:
            <h4>
                <span class="badge badge-primary badge-pill">{{ favoritosPoetas }}</span>
            </h4>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total obras favoritas:
            <h4>
                <span class="badge badge-primary badge-pill">{{ favoritosObras }}</span>
            </h4>
        </li>
    </ul>
</div>
<app-tarjeta-author [soloFavorito]=true> </app-tarjeta-author>